# EDA de los alojamientos turísticos en Madrid (Airbnb)

En este notebook realizamos un **Análisis Exploratorio de Datos (EDA)** sobre los alojamientos turísticos de Madrid anunciados en Airbnb, utilizando el dataset `listings.csv` de Inside Airbnb.

**Objetivo del análisis**

- Entender cómo se distribuyen los precios por noche.
- Analizar el impacto de:
  - la **ubicación** (distritos / barrios),
  - el **tipo de alojamiento**,
  - la **capacidad (número de huéspedes)**

en el **precio por noche**.

Este notebook corresponde al archivo `main.ipynb` del proyecto `EDA_Alojamientos_turisticos_Madrid`.

In [3]:
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Estilo de gráficos
plt.style.use("ggplot")
sns.set(rc={"figure.figsize": (10, 5)})

# Crear carpeta de imágenes si no existe
os.makedirs("src/img", exist_ok=True)

In [4]:
# Ruta al fichero de datos
ruta_datos = "src/data/df_precios.csv"

# Carga del dataset
df = pd.read_csv(ruta_datos, low_memory=False, index_col="id")

# Vistazo rápido
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license;
id,,,,,,,,,,,,,,,,,
30320,Apartamentos Dana Sol,130907.0,Danuta Weronika,Centro,Sol,40.41476,-3.70418,Entire home/apt,157.0,5.0,173.0,2025-08-27,0.93,17.0,342.0,1.0,;
40916,Apartasol Apartamentos Dana,130907.0,Danuta Weronika,Centro,Universidad,40.42247,-3.70577,Entire home/apt,143.0,5.0,53.0,2025-09-11,0.29,17.0,341.0,4.0,;
62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,303845.0,Arturo,Centro,Justicia,40.41884,-3.69655,Private room,65.0,1.0,249.0,2025-09-05,2.78,3.0,299.0,41.0,;
70073,Adorable Apartment Malasaña-Gran Via,353738.0,Raquel,Centro,Universidad,40.42252,-3.70250,Entire home/apt,116.0,30.0,36.0,2025-04-27,0.21,4.0,305.0,1.0,;
72150,Sunny attic duplex flat with terrace next to Sol,364585.0,Vin,Centro,Embajadores,40.41150,-3.70449,Entire home/apt,300.0,3.0,133.0,2025-06-08,0.75,4.0,180.0,15.0,VT-6993;

In [5]:
df["name"].value_counts()

name
Habitación en piso compartido           179
Habitación con baño privado              20
Habitación piso compartido               16
Dobo SB20 2Pax 1Bth                      14
Habitacion en piso compartido            12
                                       ...
SBV-2E Aparamento en Madrid centro        1
SBV-2F Estudio privado en Palacio         1
SBV-2G Estudio privado en Palacio         1
SBV-2H Aparamento en Madrid centro        1
Adorable Apartment Malasaña-Gran Via      1
Name: count, Length: 15689, dtype: int64

In [6]:
df["host_id"].value_counts()

host_id
438136382.0    330
346367515.0    321
377605855.0    265
291253690.0    252
518713670.0    227
              ...
967721.0         1
1004721.0        1
503508081.0      1
52975897.0       1
717010228.0      1
Name: count, Length: 6228, dtype: int64

In [7]:
df["host_name"].value_counts()

host_name
Francisco Andres    440
Home Club           348
Ukio                321
Jorge               272
MIT House           265
                   ...
Giselangel Sarai      1
Eymmy  Dayan          1
Maria Francisca       1
Mia Gem               1
Jose Joaquin          1
Name: count, Length: 2672, dtype: int64

In [8]:
df["neighbourhood_group"].value_counts()

neighbourhood_group
Centro                   7145
Tetuán                   1199
Salamanca                1166
Chamberí                 1078
Arganzuela                789
Retiro                    664
Carabanchel               612
Chamartín                 604
Ciudad Lineal             568
Puente de Vallecas        504
Moncloa - Aravaca         465
Latina                    394
Usera                     361
Hortaleza                 359
San Blas - Canillejas     338
Fuencarral - El Pardo     209
Villaverde                157
Moratalaz                 107
Barajas                    85
Villa de Vallecas          69
Vicálvaro                  58
Name: count, dtype: int64

In [9]:
df["neighbourhood"].value_counts()

neighbourhood
Embajadores      1763
Universidad      1508
Palacio          1311
Sol               993
Justicia          845
                 ...
Fuentelareina       4
Palomas             3
El Pardo            2
Horcajo             2
Atalaya             1
Name: count, Length: 128, dtype: int64

In [10]:
df["latitude"].value_counts()

latitude
40.421650    23
40.433699    21
40.455063    21
40.411418    18
40.422390    16
             ..
40.426456     1
40.405909     1
40.439282     1
40.428990     1
40.440630     1
Name: count, Length: 11956, dtype: int64

In [11]:
df["longitude"].value_counts()

longitude
-3.707000    26
-3.672267    21
-3.700565    21
-3.714655    18
-3.718249    14
             ..
-3.691450     1
-3.689780     1
-3.676530     1
-3.630673     1
-3.668777     1
Name: count, Length: 11507, dtype: int64

In [12]:
df["room_type"].value_counts()

room_type
Entire home/apt    12099
Private room        4668
Shared room          131
Hotel room            33
Name: count, dtype: int64

In [13]:
df["price"].value_counts()

price
90.0      196
80.0      157
85.0      148
100.0     147
110.0     145
         ...
4600.0      1
909.0       1
589.0       1
971.0       1
1524.0      1
Name: count, Length: 690, dtype: int64

In [14]:
df["minimum_nights"].value_counts()

minimum_nights
1.0      7580
2.0      3049
3.0      1730
30.0      990
31.0      650
         ...
63.0        1
59.0        1
55.0        1
366.0       1
270.0       1
Name: count, Length: 67, dtype: int64

In [15]:
df["number_of_reviews"].value_counts()

number_of_reviews
0.0      2909
1.0      1096
2.0       768
3.0       551
4.0       437
         ...
406.0       1
379.0       1
776.0       1
585.0       1
393.0       1
Name: count, Length: 593, dtype: int64

In [16]:
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license;
id,,,,,,,,,,,,,,,,,
30320,Apartamentos Dana Sol,130907.0,Danuta Weronika,Centro,Sol,40.41476,-3.70418,Entire home/apt,157.0,5.0,173.0,2025-08-27,0.93,17.0,342.0,1.0,;
40916,Apartasol Apartamentos Dana,130907.0,Danuta Weronika,Centro,Universidad,40.42247,-3.70577,Entire home/apt,143.0,5.0,53.0,2025-09-11,0.29,17.0,341.0,4.0,;
62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,303845.0,Arturo,Centro,Justicia,40.41884,-3.69655,Private room,65.0,1.0,249.0,2025-09-05,2.78,3.0,299.0,41.0,;
70073,Adorable Apartment Malasaña-Gran Via,353738.0,Raquel,Centro,Universidad,40.42252,-3.70250,Entire home/apt,116.0,30.0,36.0,2025-04-27,0.21,4.0,305.0,1.0,;
72150,Sunny attic duplex flat with terrace next to Sol,364585.0,Vin,Centro,Embajadores,40.41150,-3.70449,Entire home/apt,300.0,3.0,133.0,2025-06-08,0.75,4.0,180.0,15.0,VT-6993;

In [17]:
df["last_review"].value_counts()

last_review
2025-08-31    698
2025-09-07    448
2025-08-30    367
2025-09-08    341
2025-09-01    331
             ...
2025-02-05      1
2025-02-13      1
2024-12-18      1
2024-10-16      1
2024-11-01      1
Name: count, Length: 1009, dtype: int64

In [18]:
df["reviews_per_month"].value_counts()

reviews_per_month
0.00     2909
1.00      219
0.07      107
0.06      104
0.04       96
         ...
14.45       1
7.94        1
13.39       1
8.04        1
12.75       1
Name: count, Length: 952, dtype: int64

In [19]:
df["calculated_host_listings_count"].value_counts()

calculated_host_listings_count
1.0      3977
2.0      1671
3.0      1017
4.0       757
5.0       665
         ...
40.0       26
66.0       23
47.0       14
249.0       5
170.0       2
Name: count, Length: 74, dtype: int64

In [20]:
df["availability_365"].value_counts()

availability_365
365.0    409
364.0    252
0.0      176
269.0    168
257.0    158
        ...
200.0     14
213.0     13
186.0     13
209.0     12
210.0     10
Name: count, Length: 366, dtype: int64

In [21]:
df["number_of_reviews_ltm"].value_counts()

number_of_reviews_ltm
0.0      4117
1.0      1186
2.0       852
3.0       675
4.0       559
         ...
135.0       1
294.0       1
121.0       1
193.0       1
393.0       1
Name: count, Length: 166, dtype: int64

In [22]:
df["license;"].value_counts()

license;
;                                                         9419
Exempt;                                                    557
En proceso;                                                263
ESABCD123456789123456789123456789123456-HH-7891234567;      47
350202309690;                                               26
                                                          ...
ESFCTU00002811800046654500000000000000000000VT-143906;       1
ESFCTU00000607000021559700000000000000000VT-509234-A1;       1
ESFCNT00002810400043401100000000000000000000000000007;       1
ESFCTU000028091000091767000000000000000000000VT130756;       1
ESHFTU00002809100021160800300000000000000000000000004;       1
Name: count, Length: 5568, dtype: int64

In [23]:
df.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license;
id,,,,,,,,,,,,,,,,,
30320,Apartamentos Dana Sol,130907.0,Danuta Weronika,Centro,Sol,40.41476,-3.70418,Entire home/apt,157.0,5.0,173.0,2025-08-27,0.93,17.0,342.0,1.0,;
40916,Apartasol Apartamentos Dana,130907.0,Danuta Weronika,Centro,Universidad,40.42247,-3.70577,Entire home/apt,143.0,5.0,53.0,2025-09-11,0.29,17.0,341.0,4.0,;
62423,MAGIC ARTISTIC HOUSE IN THE CENTER OF MADRID,303845.0,Arturo,Centro,Justicia,40.41884,-3.69655,Private room,65.0,1.0,249.0,2025-09-05,2.78,3.0,299.0,41.0,;
70073,Adorable Apartment Malasaña-Gran Via,353738.0,Raquel,Centro,Universidad,40.42252,-3.70250,Entire home/apt,116.0,30.0,36.0,2025-04-27,0.21,4.0,305.0,1.0,;
72150,Sunny attic duplex flat with terrace next to Sol,364585.0,Vin,Centro,Embajadores,40.41150,-3.70449,Entire home/apt,300.0,3.0,133.0,2025-06-08,0.75,4.0,180.0,15.0,VT-6993;

| Nombre del campo                  | Descripción                                                                 | Tipo de variable | Importancia Inicial | Notas |
|-----------------------------------|----------------------------------------------------------------------------|------------------|---------------------|-------|
| id                          | ID del piso                                                             |  objeto                |       0              |       |
| name                             | nombre del apartamento                                                            | objeto                 |   0                  |       |
| host_id           | id del dueño   | objeto|           0          |       |
| host_name                          | nombre del dueño                       |   objeto               |   0                  |       |
| neighbourhood_group                         | barrio                                                | categórica                 |         2            |       |
| neighbourhood                 | calle                                                             |  objeto                |          4           |       |
| latitude                  | latitud                                                 | numérica float                |     4                |       |
| longitude                            | longitud                                                       |  numérica float               |      4               |       |
| room_type                            | tipo de alojamiento                                                      |   categórica               |     2                |       |
| price                     | precio por noche                                           |numérica float               |    1                 |       |
| minimun_nights                    | noches mínimas                                                |   numerica int               |          3           |       |
| last_review              | fecha de la última review                                                       | datetime                 |           4          |       |
| reviews_per_month           | número de reviews por mes                                            |  numérica float                |         3            |       |
| calculated_host_listings     | número de anuncios que tiene un mismo host                                                      |  numérica int               |          2           |       |
| availability_365         | disponibilidad al año     | numérica int| 4
| number_of_reviews_ltm                | número de reseñas en los últimos 12 meses                                                    | númerica int                 |   2                  |       |
| license;                | licencia, id                                                         | objeto                 |        0             |       |
| number_of_reviews                | número de reviews totales                                                        | numérica int                 |        3             |       |